@using Microsoft.AspNetCore.Identity
@using WabPApi.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="main-menu ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
