@*@model ErrorViewModel*@
@{
    ViewData["Title"] = "Error";
}

    <div class="bg0 p-t-90 p-b-85">
        <div class="container">
            <div class="row p-b-40">
                <div class="col-md-7 col-lg-8">
                    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
                    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
                </div>


                @*@if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }*@
            </div>
            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <div class="bor16 p-l-29 p-b-9 m-t-22">
                            <p class="stext-114 cl6 p-r-40 p-b-11">
                                Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                            </p>

                            <span class="stext-111 cl8">
                                - Steve Job’s
                            </span>
                        </div>
                    </div>
                </div>

                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="~/images/IMG_3786.jpg" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>