
@{
    ViewData["Title"] = "Confirm Email";
}

    <div class="bg0 p-t-90 p-b-85">
        <div class="container">
            <div class="row">
                <hr />
                <h2 class="text-center p-b-10">@ViewData["Title"]</h2>
                <h4>
                    Congratulations!!! You have successfully confirmed your email. Please proceed to <a asp-action="Product" asp-controller="Home">Shop</a> for your shopping or proceed to <a asp-action="Index" asp-controller="ShoppingCart">My Cart</a> to checkout your cart. Thanks
                </h4>
            </div>
        </div>
    </div>

