
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="bg0 p-t-90 p-b-85">
    <div class="container">
        <div class="row">
            <hr />
            <h4 class="text-center p-b-10">@ViewData["Title"]</h4>
            <h4>
                If you have an account with us, we have sent an email with the instructions to reset your password.
            </h4>
        </div>
    </div>
</div>